<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/juggling/css/style.css" />
  </head>
  <body>
    <header>
      <a href="/juggling/">
        <img src="/juggling/img/header.jpg" />
      </a>
    </header>

    <nav id="site_links">
      <ul>
        <!--
        <li><a href="/juggling/news/">News</a></li>
        <li><a href="/juggling/pictures/">Pictures</a></li>
        <li><a href="/juggling/about/">About</a></li>
        <li><a href="/juggling/links/">Links</a></li>
        <li><a href="/juggling/learn/">Learn</a></li>
        -->
        <li><a href="/juggling/congress/2011/">2011 Congress</a></li>
        <li><a href="/juggling/links/">Links</a></li>
      </ul>
    </nav>

    <section id="content">
      {{ content }}
    </section>
  </body>
</html>
